certifi==2024.8.30
charset-normalizer==3.4.0
elastic-transport==8.15.1
elasticsearch==8.16.0
filelock==3.16.1
fsspec==2024.10.0
hanlp==2.1.0b62
hanlp_common==0.0.20
hanlp_downloader==0.0.25
hanlp_trie==0.0.5
huggingface-hub==0.26.2
idna==3.10
lxml==5.3.0
numpy==1.26.4
packaging==24.2
phrasetree==0.0.9
pillow==11.0.0
pynvml==11.5.3
python-docx==1.1.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.4.5
sentencepiece==0.2.0
termcolor==2.5.0
tokenizers==0.20.3
toposort==1.5
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchvision==0.14.0+cu117
tqdm==4.67.0
transformers==4.46.3
typing_extensions==4.12.2
urllib3==2.2.3
